ページ概要:
	- ホームページ:
		- 実装形式: SSRで実装 (SEO対策面で有効)
		- 機能:
			1. チームの概要、近日中のイベント情報を表示
			2. チームの概要、魅力などが伝わるデザイン
			3. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能
			4. イベント情報ボックス:
				- 独立したボックス内で近日中のイベント情報を表示
				- 開閉可能でスクロール可能
				- 各イベント情報はリンクとしてクリックで詳細ページへ遷移

	- ログインページ:
		- 実装形式: SSRで実装
		- 機能:
			1. ページ右上のログインボタンから遷移可能
			2. アカウントIDとパスワードで認証しログイン
			3. accessTokenを使用した認証とrefreshTokenによる更新
			4. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能

	- サインアップページ:
		- 実装形式: SSRで実装
		- 機能:
			1. 招待URLからのアクセスでアカウント作成ページに遷移
			2. アカウント名とパスワードを入力して作成可能
			3. アカウント作成後に自動ログイン
			4. 招待URLからのアクセス以外は受け付けないページ

	- アカウント削除ページ:
		- 実装形式: SSRで実装
		- 機能:
			1. ログインユーザが自身のアカウントを削除することができる (アカウント削除にはユーザーIDとパスワードが必要)
			2. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能

	- アカウント情報編集ページ:
		- 実装形式: SSRで実装
		- 機能:
			1. ユーザーが名前やパスワードなどの情報を編集可能
			2. 編集内容は即時データベースに反映
			3. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能

	- イベント一覧ページ:
		- 実装形式: SSRで実装 (データ変更時に自動取得機能含む)
		- 機能:
			1. イベント情報のタイトルと日程をリスト形式で表示
			2. 各イベントはリンクとして詳細ページへ遷移
			3. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能

	- イベント詳細ページ:
		- 実装形式: SSRで実装
		- 機能:
			1. データベースからイベント情報を取得しUI表示
			2. ログインユーザー以外も閲覧可能
			3. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能

	- イベント作成ページ:
		- 実装形式: SSRで実装
		- 機能:
			1. ログインユーザーがイベント名、日程、概要を入力して作成
			2. イベント作成者情報も記録
			3. イベント固有のイメージ画像をアップロード可能 (イメージ画像をアップロードする代わりに twitter(x) youtube 等に存在する 画像 動画 を埋め込むことも可能)
			4. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能

	- イベント情報編集ページ:
		- 実装形式: SSRで実装
		- 機能:
			1. ログインユーザーが既存イベントの情報を編集可能
			2. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能
			3. 編集の競合を防ぐ排他制御を実装

	- チャットページ:
		- 実装形式: CSRで実装
		- 機能:
			1. websocketを使用したチャットが可能
			2. ホームページから遷移 (非ログインユーザーには非表示)
			3. 複数スレッドで参加者同士のチャット
			4. スレッド一覧を表示し、直近の会話内容を確認可能
			5. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能
			6. スタンプ機能の実装を検討

	- 動画 画像 共有ページ:
		- 実装形式: CSRで実装
		- 機能:
			1. websocketを使用したチャットが可能
			2. ホームページから遷移 (非ログインユーザーには非表示)
			3. 複数スレッドで参加者同士のチャット
			4. スレッド一覧を表示し、直近の会話内容を確認可能
			5. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能
			6. スタンプ機能の実装を検討

	- チーム入団に際する注意ページ:
		- 実装形式: SSGで実装
		- 機能:
			1. ログインユーザ 非ログインユーザ ともに閲覧可能
			2. チーム入団に際する注意事項を表示する
			3. 左サイドにマウスカーソルが移動するとサイドバーが表示され、他ページへアクセス可能

	- 管理者ページ:
		- 実装形式: SSRで実装
		- 機能:
			1. webサイトの管理者だけが移動できるページ
			2. 任意のアカウントの削除が可能
			3. その他の機能も検討
	
	技術スタック:
	- フロントエンド:
		- Framework: Next.js 14 (App Router)
		- Language: TypeScript
		- Styling: Tailwind CSS
		- Libraries: NextAuth.js (認証), Prisma (データベース), SWR
		- Deployment: Vercel
		- Linter: Eslint, Formatter: Prettier
	- バックエンド:
		- Framework: Next.js

	データモデル:
	- User:
		- id: string
		- name: string
		- email: string
		- role: 'ADMIN' | 'MEMBER'
	- Event:
		- id: string
		- title: string
		- description: string
		- date: Date
		- createdBy: string
		- image: string
	- Message:
		- id: string
		- content: string
		- senderId: string
		- threadId: string
		- createdAt: Date
}